.one{
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-repeat: no-repeat;
  height: 1080px;
}
.landing{
  margin-top: 0cm;
  font-size: 45px;
  color: white;
}
.text{
  text-align: center;
  padding-top: 11cm;
}
.about{
  padding: 40px;
}
.two{
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-repeat: no-repeat;
  height: 720px;
}
.services{
  font-size: 45px;
  color: white;
  padding-top: 4cm;
}
.what h1{
  padding-bottom: 3px;
}
.icons{
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.three{
  padding-top: 0cm;
  padding-bottom: 2cm;
}
.port img{
  padding: 27px;
}
.four{
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-repeat: no-repeat;
  height: 950px;
}
.contact{
  color: white;
  padding-top: 3cm;
  font-size: 45px;
}
.socials{
  padding-top: 0cm;
  margin-top: 0cm;
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-left: 12cm;
  padding-right: 12cm;
}
